
.side {

}
#view-screen {
    
}


.modal-dialog {
    
}

#profile-panel {

    background-color: white;
}
.modal {
    z-index: 3000;
}

ul.action-list {
    list-style-type: none;
}

.action-list li {
    height: 30px;
    padding: 5px;
    background-color: inherit;

}

.action-list li:hover {
    background-color: #adad85;
}



#typehead-dropdown {
        display: none;
        border:solid grey 1px;
        border-radius:5px;
        background-color: white;
    

}

.btn-nav {
    background-color: inherit;
}

.btn-nav:hover {
    background-color:#bcbbb1;
}

.search-element:hover {
    background-color: #d6d5cb;
}

.dropdown {

    list-style-type: none;

}

.dropdown .search-element {
    margin-right: 0px;
    padding: 10px 10px 10px 0px;
}

.a-group:hover {
    background-color: teal;
}

.btn-post {
    background-color: inherit;
    border: none;
    padding: 10px;
}

.btn-post:hover {
    background-color: #e8e9ea;
}