<!<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>China Chess Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/importer.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/js.js"></script>
</head>
<body>
    <div id="head">
        <div class="jumbotron row banner">
            <div id="logocomponent" class="col-md-9">
                <p>Enjoy Game</p>
            </div>
            <div id="logincomponent" class="col-md-3">
                <div id="login-logout">
                    <%if (typeof isLogIned != 'undefined' && isLogIned) {%>
                        <button onclick="doLogout()">Đăng xuất</button>
                    <%} else {%>
                        <button data-toggle="modal" data-target="#loginmodal">Đăng nhập</button>
                        <button data-toggle="modal" data-target="#signinmodal">Đăng ký</button>
                    <%}%>
                </div>
                <!-- giao dien modal cho phan login -->
                <div id="signinmodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Tạo tài khoản mới</h4>
                            </div>
                            <div class="modal-body form-group">
                                    <label for="usersignin">Tên tài khoản:</label>
                                    <input placeholder="Nhập tài khoản..." class="form-control" id="usernamesignin">
                                    <label for="pwdsignin">Mât khẩu:</label>
                                    <input type="password" class="form-control" id="pwdsignin">
                                    <label for="pwdrepeatsignin">Nhập lại mât khẩu:</label>
                                    <input type="password" class="form-control" id="pwdrepeatsignin">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" onclick="doSignin()">Đăng ký</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Trở về</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="loginmodal" class="modal fade" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Đăng nhập tài khoản<h4>
                                <h5 id="loginerror"></h5>
                            </div>
                            <div class="modal-body form-group">
                                    <label for="usrlogin">Tên tài khoản:</label>
                                    <input placeholder="Nhập tài khoản..." class="form-control" id="usernamelogin">
                                    <label for="pwdlogin">Mât khẩu:</label>
                                    <input type="password" class="form-control" id="pwdlogin">
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn" onclick="doLogin()">Đăng nhập</button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    
                    </div>
                </div>
                <!-- giao dien modal cho phan sign in -->
            </div>
            <!-- giao dien modal cho phan sign in -->
            <div id="reportmodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body form-group">
                                <h3 id="report-content"></h3>
                        </div>
                        <div class="modal-footer">
                        </div>
                    </div>
                
                </div>
            </div>

        </div>

       <div class="jumbotron row search-menu" id="topnav" >
            <div class="col-md-5">
                <div id="search-box">
                    <input id="typehead" oninput="autoComplete()" onfocus="showSearchHistory()" onfocusout="hideDropdown()" placeholder="Tìm kiếm">
                    <button id="btnSearch" class="btn btn-nav">
                        <i class="glyphicon glyphicon-search">Tìm kiêm</i>
                    </button>
                    <div id="typehead-dropdown">
                        
                    </div>
                </div>
            </div>

            <div class="col-md-7">
                <div id="menu-head">
                    <!-- <button class="btn btn-nav" onclick="gameOnclick()">Game</button> -->
                    <button class="btn btn-nav" onclick="worldOnclick()">Trang chủ</button>
                    <button class="btn btn-nav" onclick="friendOnclick()">Bạn bè</button>
                    <button class="btn btn-nav" onclick="groupOnclick()">Hội nhóm</button>
                    <button class="btn btn-nav" onclick="messagesOnclick()">Trò chuyện</button>
                    <button class="btn btn-nav" onclick="profileOnclick()">Hồ sơ</button>
                    <button class="btn btn-nav" onclick="settingsOnclick()">Cài đặt</button>
                    <button class="btn btn-nav" onclick="supportsOnclick()">Hỗ trợ</button>
                </div>
            </div>
        </div>
    </div>

    <div class="jumbotron row content-box">
        <div class="col-md-3">
            <div id="leftside" class="side">
                <ul class="action-list">
                    <li>action</li>
                    <li>action</li>
                    <li>action</li>
                    <li>action</li>
                    <li>action</li>
                    <li>action</li>
                    <li>action</li>
                    <li>action</li>
                    <li>action</li>
                </ul>
            </div>
        </div>
        <div class=" col-md-6" >
            
            <div id="view-screen">
                 
            </div>
        </div>
        <div class="col-md-3">
            <div id="rightside" class="side">
                <div>
                    <div><p>Nguyen Van A</p></div>
                    <div><p>Nguyen Van A</p></div>
                    <div><p>Nguyen Van A</p></div>
                    <div><p>Nguyen Van A</p></div>
                    <div><p>Nguyen Van A</p></div>
                    <div><p>Nguyen Van A</p></div>
                </div>
            </div>
        </div>

    </div>
</body>
</html>